@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    display: grid;
    place-content: center;
    background-position: bottom right, top left;
    background-repeat: no-repeat, no-repeat;
}

main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 2rem;
    margin-block: 1rem;
}

.context-rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    gap: 1rem;
}

.heading, .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.reviews {
    display: flex;
    margin: 0;
    padding: 0;
}

.reviews > div {
    margin-inline: 1rem;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%)
}

.rating, .review {
    border-radius: 5px;
}

.review {
    background-color: hsl(300, 43%, 22%);
    padding: 1.2rem;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.reviewer * {
    margin: 0;
}

p {
    line-height: 1.3em;
}

.reviewer img {
    border-radius: 50%;
    width: 60px;
}

.heading h1, 
.rating p {
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}

.verify {
    color: hsl(333, 80%, 67%);
}

.heading > p {
    color: hsl(303, 10%, 53%);
}

.name,
.review > p {
    color: white
}

@media only screen and (min-width: 800px) {
    body {
        background-image: url(./images/bg-pattern-bottom-desktop.svg), url(./images/bg-pattern-top-desktop.svg);
        height: 100vh;
    }

    .colton,
    .Reviews {
        align-self: flex-start;
    }
    
    .irene,
    .guru {
        align-self: center;
        margin-inline: 0 !important;
    }
    
    .anna,
    .bestTech {
        align-self: flex-end;
    }

    .context-rates > div {
        width: 47%;
    }

    .rating {
        width: 85%;
    }

    main {
        margin-block: auto;
    }

    main > div {
        height: 350px !important;
    }

    .rating div
    ,.rating p {
        margin-inline: 1rem;
    }

}

@media only screen and (max-width: 800px) {
    body {
        background-image: url(./images/bg-pattern-bottom-mobile.svg), url(./images/bg-pattern-top-mobile.svg);
        height: 100%;
    }
    
    .context-rates {
        flex-direction: column;
        gap: 3rem
    }

    .main {
        height: 90%;
        gap: 1rem;
    }

    .reviews {
        flex-direction: column;
        gap: 1rem;
    }
    .ratings {
        width: 100%;
    }
    .rating {
        flex-direction: column;
        width: 100%;

    }

    .rating div
    ,.rating p {
        margin-block: 0.5rem;
    }
}

@media only screen and (max-width: 434px) {

    .stars img {
        width: 10px
    }

    .rating > p {
        font-size: 85%;
    }

    .rating div
    ,.rating p {
        margin-inline: 0.5rem;
    }
}